body {
  width: 90%;
  margin: 0 auto;
}

.PicUploadArea {
  border: 0 auto;
  background-color: lightgray;
}

#header {

}

.PicArea {
  display: flex;
}

#Pic {

}

#file {
  margin: 10px;
  width: 100%;
  margin: 0 auto;
}

.PicDescriptionArea {

}

#description {
  margin-top: 10px;
  width: 100%;
}
