body {
  width: 90%;
  margin: 0 auto;
}

.post {
  align-items: center;
}

.Pic {
  margin-left: 30px;
  margin-top: 50px;
}

.details {
  margin-top: 10px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}

#poster {
  font-weight: 500;
}

#date {
  font-style: italic;
}

#voteGood {
  padding-left: 20px;
}

#voteBad {
  padding-left: 20px;
}

.postComment {
  margin-top: 10px;
}

#comments {
  flex-grow: 1;
}

.commenter {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
  margin-left: -5px;
  color: #262626;
}

.commenter:hover {
  text-decoration: none;
  color: rgb(122, 142, 131);
}

.comment {
  display: flex;
  padding-bottom: 6px;
  margin-top: -5px;
  padding-top: 5px;
  word-wrap: break-word;
}

#commentInputWrapper {
  width: 90%;
  padding-left: 30px;
}
