body {
  width: 90%;
  margin: 0 auto;
}

#posts {
  padding-top: 40px;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.post {
  margin-top: 10px;
}

.post-title {

  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
  margin-left: -5px;
  color: #262626;
}

.post-title:hover {
  text-decoration: none;
  color: rgb(122, 142, 131);
}
