/* self Header */
body {
  width: 90%;
  margin: 0 auto;
}

.selfHeader {
  border: 0 auto;
  padding: 3%;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  background-color: rgba(219, 236, 249, 0.86);
}

#headPic {
  border-radius: 9999px;
  width: 160px;
  height: 160px;
}

#selfIntro {
  width: 30%;
  margin-left: 5%;
}

#configurationIcon {
  right: 0px;
  margin-left: 20px;
}

.btn-group {
  padding: 2%;
}

.showHide {
  border-radius: 10px;
}

/* self Pic */
#selfPic {
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.PicPlus {
  border-radius: 9999px;
  margin: 15px;
  background-color: rgb(222, 234, 238);
}

.PicImgPlus {
  border-radius: 9999px;
  width: 150px;
  height: 150px;
}

.Pic {
  border-radius: 9999px;
  margin: 15px;
}


.PicImg {
  border-radius: 9999px;
  width: 150px;
  height: 150px;
}
